/*On screens that are 1000px or less*/
@media(max-width:1000px){
	*{
		box-sizing: border-box;
	}
	.body{
		overflow-x: hidden;
	}


	.about-container{
		width:90%;
		border-radius: 10px;
	}
	.about-container img{
		height: 200px;
	}
	.about-text{
		width: 400px;
	}
	.about-text p:nth-child(1){
		font-size: 25px;
	}
	.about-text p:nth-child(2){
		font-size: 20px;
	}
	
	.about-text p:nth-child(3),.about-text p:nth-child(4){
		font-size: 14px;
	}


	.fitness-container{
		width:90%;
		border-radius: 10px;
	}
	.fitness-container img{
		height: auto;
	}
	.fitness-text{
		width: 400px;
	}
	.fitness-text p:nth-child(1){
		font-size: 25px;
	}
	.fitness-text p:nth-child(2){
		font-size: 20px;
	}
	
	.fitness-text p:nth-child(3),.fitness-text p:nth-child(4){
		font-size: 14px;
	}


	.mlh-container{
		width:90%;
		border-radius: 10px;
	}
	.mlh-container img{
		height: 200px;
	}
	.mlh-text{
		width: 400px;
	}
	.mlh-text p:nth-child(1){
		font-size: 25px;
	}
	.mlh-text p:nth-child(2){
		font-size: 20px;
	}
	
	.mlh-text p:nth-child(3),.mlh-text p:nth-child(4){
		font-size: 14px;
	}


	.devsoc-container{
		width:90%;
		border-radius: 10px;
	}
	.devsoc-container img{
		height: 200px;
	}
	.devsoc-text{
		width: 400px;
	}
	.devsoc-text p:nth-child(1){
		font-size: 25px;
	}
	.devsoc-text p:nth-child(2){
		font-size: 20px;
	}
	
	.devsoc-text p:nth-child(3),.devsoc-text p:nth-child(4){
		font-size: 14px;
	}


	.cpd{
		padding: 2% 5% 0px 5%;
	}
	.box-container{
		justify-content: center;
		flex-wrap: wrap;
	}
	.cpd{
		height: auto;
	}
	.box-1,.box-2,.box-3{
		flex-grow: 1;
		margin: 10px;
	}
}

/*On screens that are 750px wide or less*/
@media(max-width:750px){
	.navbar {
		height: 165px;
		width: auto;
	}
	.navbar .flex {
		flex-direction: column;
	}
	.navbar ul {
		padding: 10px;
	}
	.about-container{
		top: 0px;
		flex-direction: column;
		width:90%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.about-text{
		width:90%;
		text-align: center;
	}


	.fitness-container{
		top: 0px;
		flex-direction: column;
		width:90%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.fitness-text{
		width:90%;
		text-align: center;
	}


	.mlh-container{
		top: 0px;
		flex-direction: column;
		width:90%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.mlh-text{
		width:90%;
		text-align: center;
	}


	.devsoc-container{
		top: 0px;
		flex-direction: column;
		width:90%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.devsoc-text{
		width:90%;
		text-align: center;
	}


	.fitness-column,.mlh-column,.devsoc-columnn {
		width: 100%;
	}

	.cpd-text{
		width: 100%;
	}
	footer p:nth-child(2){
		width: 90%;
	}
	
}